.first-row {
  margin-top: 60px;
}
.badge-info {
  margin-left: 5px;
}
.navbar-text-input {
  margin-left: 5px;
  margin-right: 5px;
}
.header {
  display: block;
}
.data {
  overflow: auto;
  height: 350px;
  display: block;
}
.avatar {
  width: 10%;
}
.username {
  width: 20%;
}
.email {
  width: 30%;
}
.admin {
  width: 15%;
}
.enabled {
  width: 100%;
}
